@model fortune_dotnet.Models.Fortune

<html>
<head>
    <title>FORTUNE COOKIE – C#</title>
    <meta charset="UTF-8">
    <style>
        * {
            /* Language color from
             https://github.com/doda/github-language-colors/blob/master/colors.json */
            color: #178600;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: x-large;
        }

        #main {
            width: 1024;
        }

        .smurf {
            text-align: center;
            color: #4cc3ff;
            font-size: xx-large;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .smurf img {
            box-shadow: 10px 5px 5px #4cc3ff;
        }
    </style>
</head>

<body>
    <div id="main">
        <h1>Fortune cookie of the day #@Model?.Number</h1>

        <p style="white-space: pre-wrap">@Model?.Message</p>

        <hr>

        <form action="/" method="POST">
            <label for="name">Your name:</label>
            <input type="text" name="name" id="name" value="" placeholder="Enter your name here">
            <input type="submit" value="Send">
        </form>

        @if (Model?.Name != string.Empty) {
            <p>We wish you good fortune, @Html.Raw(@Model?.Name)!</p>
        }

        @if (Model?.Name?.ToLower().Contains("smurf") ?? false) {
            <p class="smurf">YOU'VE BEEN SMURFED!!!</p>
            <p class="smurf"><img src="/smurfs.jpg" width=400></p>
        }

        <hr>

        <p>Version @Model?.Version – @Model?.Hostname</p>
    </div>
</body>

</html>